<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/nav') %>
        
        <div class="about content">
            <h2>About Us</h2>
            <div class="about-us-image" style="background-image: url('/about-bg.jpg');"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris efficitur nec ligula eget eleifend. Nunc ut sollicitudin diam, eget viverra justo. Aenean sit amet blandit velit. Etiam eget est euismod, congue quam mattis, faucibus leo. Donec scelerisque lorem nunc, eget elementum turpis tempus ac. Quisque quis ullamcorper ipsum. Aenean tempus, nunc vitae dictum porttitor, velit nibh porttitor nunc, sit amet consectetur dui nibh in ligula. Aliquam accumsan vitae sem id interdum. Etiam id interdum nulla. Quisque iaculis tincidunt tellus ac pulvinar.</p>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris efficitur nec ligula eget eleifend. Nunc ut sollicitudin diam, eget viverra justo. Aenean sit amet blandit velit. Etiam eget est euismod, congue quam mattis, faucibus leo. Donec scelerisque lorem nunc, eget elementum turpis tempus ac. Quisque quis ullamcorper ipsum. Aenean tempus, nunc vitae dictum porttitor, velit nibh porttitor nunc, sit amet consectetur dui nibh in ligula. Aliquam accumsan vitae sem id interdum. Etiam id interdum nulla. Quisque iaculis tincidunt tellus ac pulvinar.</p>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>